<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeAR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="/" class="logo">
                        <img src="{{ url_for('static', filename='img/logo_white.svg') }}" alt="" class="logo_img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="/contacts" class="menu__list-link">КОНТАКТЫ</a>
                            </li>
                            <li class="menu__list-item">
                                <a href="/sigh_up" class="menu__list-link">РЕГИСТРАЦИЯ</a>
                            </li>
                            <li class="menu__list-item">
                                <a href="/log_in" class="menu__list-link">ЛИЧНЫЙ КАБИНЕТ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="main"></main>
        <footer class="footer">
            <div class="footer__copy">
                <p class="footer__copy-text">
                    Здесь будет что-то.
                </p>
            </div>
        </footer>
    </div>

</body>
</html>