<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeAR</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo_151515.svg') }}" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="/" class="logo">
                        <img src="{{ url_for('static', filename='img/logo_white.svg') }}" alt="" class="logo_img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="/instruction" class="menu__list-link comp">ПРАВИЛА ПОЛЬЗОВАНИЯ</a>
                            </li>
                            <li class="menu__list-item">
                                <a href="/restaurants" class="menu__list-link">КАФЕ И РЕСТОРАНЫ</a>
                            </li>
                            <li class="menu__list-item">
                                <a href="/contacts" class="menu__list-link">КОНТАКТЫ</a>
                            </li>
                            <li class="menu__list-item">
                                <a href="/log_in_role" class="menu__list-link">ЛИЧНЫЙ КАБИНЕТ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="sighup">
                <div class="container">
                    <h2 class="section-title sighup__title">Регистрация</h2>
                    <form method="post" class="form">
                        <input class="form__input" name="name" placeholder="Имя">
                        <input class="form__input" name="email" placeholder="Почта">
                        <input type="password" class="form__input" name="password" placeholder="Пароль">
                        <input type="password" class="form__input" name="repeating" placeholder="Повторите пароль">
                        <div class="flash">
                            {% for msg in get_flashed_messages() %}
                                <div class="flash__item">
                                    <h4>Ошибка!</h4>
                                    <hr>
                                    <p>{{ msg }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="form__btn" type="submit">ДАЛЕЕ</button>
                    </form>
                    <p class="sighup__text">
                        Есть аккаунт? Войдите!
                    </p>
                    <form action="/log_in_role" class="form">
                        <button class="form__btn" type="submit">Авторизация</button>
                    </form>
                </div>
            </section>
        </main>
    </div>

</body>
</html>