<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CafeAR</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo_151515.svg') }}" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="/" class="logo">
                        <img src="{{ url_for('static', filename='img/logo_white.svg') }}" alt="" class="logo_img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a class="menu__list-link">Ресторан "{{ chain.title }}"</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link">Адрес: {{ branch.address }}</a>
                            </li> 
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                <h2 class="section-title sighup__title">Введите номер Вашего столика</h2>
                <form method="post" class="form" enctype="multipart/form-data">
                    <input class="form__inp" name="table" placeholder="Номер столика">
                    <button class="form__btn btm__btn" type="submit">ДАЛЕЕ</button>
                </form>
            </div>
        </main>
    </div>

</body>
</html>